/*============================================================================
TROUBLESHOOTING
============================================================================*/
/* {
  border: solid 1px black;
}
*/

/*============================================================================
ELEMENT STYLES
============================================================================*/
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  margin: 0;
  margin-top: 0;
  padding-top: 0;
}

h3, h4, li{
  text-align: center;
  margin: auto;
}

hr{
    border-color: #fff;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

p, li {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style-type: none;
}

li {
  padding-right: 20px; 
}

/*============================================================================
CLASS STYLES
============================================================================*/


.container {
  width: auto;
  padding: 0 15px;
}

.container .credit {
  margin: 20px 0;
}

.footer{
  color: #95a5a6;
  background-color: #ecf0f1;
  border-top: solid 2px gray;
  height: 5em;
}

.footer li {
  margin-top: 25px;
}

.logo {
  padding: 10px;
}

.findme {
  margin-top: 5em; 
}

.head-content {
  height: 691px;
}

.header {
  text-align: center;
}

.jumbotron {
  color: #fff;
<<<<<<< HEAD
  background: #000 url("images/header.jpg") center center; 
=======
  position: relative;
  background: #000 url("images/header.jpg") center center;
>>>>>>> origin/master
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-bottom: 0;
  text-align: center;
}

.jumbotron h3, .jumbotron h1 {
  opacity: 0.72;
}

.list-inline:hover {
  text-align: center;
  text-decoration: none;
}

.nav {
  background-color: #fff;
  z-index: 1;
}

.nav li {
  color: #fff;
  margin-top: 50%;
}

.navlink {
  background-color: #f6f6f6;
  border: solid 2px gray;
  height: 12em;
  margin: 0 auto;
  text-align: left;
}

.navlink h3{
  margin-top: 50px;
}

.page-nav {
  border-bottom: 4px solid gray;
}

.page-nav ul li span {
  padding-right: 25px;
}

.project {
  background-color: #34495e;
  margin-top: auto 0;
}

.project-header {
  background-color: rgba(52,73,94,0.6);
  width: 100%;
  margin: 100%;  
}

.section {
  height: 30em;
}

.social {
  margin-bottom: 15%;
  margin-top: 10em;
}

.social_text {
  text-align: center;
}

.text-center {
  margin-left: 20%;
  margin-right: 20%;
}

.tool-list {
  margin-top: 5%;
}
/*============================================================================
ID STYLES
============================================================================*/
#about {
  color: #fff;
  background-color: #34495e;
<<<<<<< HEAD
  border-bottom: solid 2px #2c3e50;
=======
>>>>>>> origin/master
  text-align: center;
}

#info {
  letter-spacing: 0.5px;
  line-height: 20px;
}

#landing {
  background: url("images/pagelanding.PNG");
  background-position: center;
  background-size: auto;
  height: 100%;
  padding-top: 0%;
  margin-top: 0%;
}

#prefix {
  background: url("images/prefixmix.PNG");
  background-position: center;
  background-size: auto;
  height: 100%;
}


#profile {
  border-radius: 35px;
}

#project {
  background-color: #34495e;
  color: #fff;
}

#project a{
  color: #fff;
}

#project a:visited{
  color: #fff;
}

#skills {
  color: #fff;
  background-color: #2980b9;
}

#skills li{
 margin-right: 4%;
}

#social-pointer {
  margin: 5% 50% 2% 49%;
  font-size: 2em;
  padding: 0 auto;
}

#summary {
  letter-spacing: 0.5px;
  line-height: 20px;
}

#tools {
  color: #fff;
  background-color: #16a085;
<<<<<<< HEAD
  border-bottom: solid 2px #27ae60;
=======
>>>>>>> origin/master
}

/*============================================================================
ANIMATION
============================================================================*/

.navlink:hover {
  cursor: pointer;
  background-color: ease #000;
}

#social-pointer:hover{
  color: gray;
  padding: 0 auto;
}

#sass-desc{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  margin-top: 65%;
  padding-top: 7%;
  margin-bottom: 0;
  max-height: 0%;
  text-align: center;
  visibility: hidden;
}

#prefix:hover #sass-desc{
  visibility: visible;
  background-color: #000;
  max-height: 100%;
  opacity: 0.8;  
}

#intro-desc{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  margin-top: 65%;
  padding-top: 7%;
  margin-bottom: 0;
  max-height: 0%;
  text-align: center;
  visibility: hidden;
}

#landing:hover #intro-desc{
  visibility: visible;
  background-color: #000;
  max-height: 100%;
  opacity: 0.8;  
}
/*============================================================================
MEDIA QUERIES
============================================================================*/
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    /* These elements are sorted from top to bottom of the page*/
    #about {
      height: 52em;
    }
    .info {
      margin-top: 20px;
    }
    /*skills styles for phones */ 
    #skills {
      height: 52em;
    }
    .html, .javascript, .php{
      margin-top: 45px;
    }
    /*tools styles for phones*/
    #tools {
      height: 52em;
    }
    #tools li{
      margin-right: 2%;
    }
    /*social styles for phones*/
    .social {
      margin-top: 45em;
    }
    .page-nav{
      display: none;
    }
}
